@import "~bulma/sass/utilities/_all";

$primary: #5a45ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$colors: (
    "white"  : ($white,   $black),
    "black"  : ($black,   $white),
    "light"  : ($light,   $light-invert),
    "dark"   : ($dark,    $dark-invert),
    "primary": ($primary, $primary-invert),
    "info"   : ($info,    $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger" : ($danger,  $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$body-color: #b1bacc;

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

html, body, #app { 
  color: $body-color;
  height: 100%;
  width: 100%;
  display: inline-block;
}

body > div > div > div {
  top: 38px !important;
}

.navbar {
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.02), 0 4px 6px 0 rgba(0,0,0,.03);
}

.navbar-brand-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: .2em;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-end {
  display: flex;
  justify-content: flex-end;
}

.navbar-container-menu-search {
  display: flex;
  align-items: center;
  margin-right: .5em;
}

span > .field {
  margin-bottom: .75rem;
}

.input, .taginput .taginput-container.is-focusable, .textarea {
  border: 2.5px solid #f7f8fa;
  box-shadow: none;
}

.input:hover, .taginput .taginput-container.is-focusable:hover, .textarea:hover, .select select:hover, .is-hovered.input, .taginput .is-hovered.taginput-container.is-focusable, .is-hovered.textarea, .select select.is-hovered {
  border-color: #b5b5b524;
}

.input:focus, .taginput .taginput-container.is-focusable:focus, .textarea:focus, .select select:focus, .is-focused.input, .taginput .is-focused.taginput-container.is-focusable, .is-focused.textarea, .select select.is-focused, .input:active, .taginput .taginput-container.is-focusable:active, .textarea:active, .select select:active, .is-active.input, .taginput .is-active.taginput-container.is-focusable, .is-active.textarea, .select select.is-active {
  border-color: #b1bacc24;
  box-shadow: none;
}

.dropdown {
  vertical-align: middle;
}

#wrapper-dashboard > nav > div > div.navbar-menu > div.navbar-end > div:nth-child(3) {
  margin-left: 0;
  margin-right: .7em;
}

#wrapper-dashboard > nav > div > div.navbar-menu > div.navbar-end > div > div.dropdown-trigger > button {
  height: 100%;
}

#wrapper-dashboard > nav > div > div.navbar-menu > div.navbar-end > div > div.dropdown-trigger {
  display: flex;
  align-items: center;
}

.menu-label {
  color: $body-color;
  font-weight: $weight-semibold;
}

.auth-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
